.list-movies {
    width: 100%;
    max-width: 1000px;
    margin: 14px auto; 
    padding: 0 20px; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.list-movies article {
    background-color: #212026;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1 1 calc(33.33% - 20px);
    min-width: 250px;
    max-width: 300px;
}

@media (hover: hover) and (pointer: fine) {
    .list-movies article:hover {
        transform: scale(1.03);
    }
}

.list-movies article:active {
    transform: scale(0.97);
}

.list-movies strong {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-movies img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list-movies .go {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116FEB;
    text-decoration: none;
    color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 600px) {
    .list-movies article {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
