.my-movies {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-movies h1 {
    margin-bottom: 14px;
    color: #FFF;
}

.my-movies span {
    font-size: 18px;
    color: #FFF;
}
.my-movies ul {
    width: 200px;
}

.my-movies ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.my-movies div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.my-movies div a {
    text-decoration: none;
    color: #116FEB;
    margin-right: 14px;
    
}